<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                <h5>Video List</h5>
            </div>
            <div class="card body">
                <div class="row">
                @for (item of videoList; track $index) {

                    <div class="col-4 pt-1">
                            <div class="card" >
                                <div class="card-body">
                                  <h5 class="card-title">{{item.videoTitle}}</h5>
                                  <!-- <h6 class="card-subtitle mb-2 text-muted">{{item.videoUrl}}</h6> -->
                                  <p class="card-text">{{item.videoUrl}}</p>
                                  <a  class="card-link">
                                    <button class="btn btn-success btn-sm" (click)="onEdit(item)">Edit</button>
                                  </a>
                                  <a  class="card-link">
                                    <button class="btn btn-danger btn-sm" (click)="onDeleteVideo(item.videoId)">Delete</button>
                                  </a>
                                </div>
                            </div>
                        
                        
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                <h5>New Video Form</h5>
            </div>
            <div class="card body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Title</label>
                        <input type="text" [(ngModel)]="videoObj.videoTitle" class="form-control" id="">
                    </div>
                    <div class="col-12">
                        <label for="">Url</label>
                        <input type="text" [(ngModel)]="videoObj.videoUrl" class="form-control" id="">
                    </div>
                    <div class="col-12">
                        <label for="">Thumbnail</label>
                        <input type="text" [(ngModel)]="videoObj.videoThumbnail" class="form-control" id="">
                    </div>
                    <div class="col-12">
                        <label for="">Duration</label>
                        <input type="text" [(ngModel)]="videoObj.totalDuration" class="form-control" id="">
                    </div>
                    <div class="col-12">
                        <label for="">Description</label>
                        <textarea class="form-control" [(ngModel)]="videoObj.videoDescription" rows="3"></textarea>
                    </div>
                </div>          
                <div class="row">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary">Reset</button>
                    </div>
                    <div class="col-6 text center">
                        @if (videoObj.videoId == 0) {
                            <button class="btn btn-success" (click)="onsaveVideo()">Save</button>
                        }@else {
                            <button class="btn btn-warning" (click)="onupdateVideo()">Update</button>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>