<div class="row">
    <div class="col-3">
        @if (isDiv1Visible==true) {
            <div class="bg-success p-3">
                Div 1
            </div>
        }
    </div>
    <div class="col-3">
        @if (div2Visible == "Yes") {
            <div class="bg-warning p-3">
                Div 2
            </div>
        }
        @else {
            <div class="bg-warning p-3">
                Don't Show it
            </div>
        }
        
    </div>
    <div class="col-3">
        <div class="bg-secondary p-3">
            @if (dayName == "mon") {
                <p>MONDAY</p>
            }
            @else if (dayName == "tue") {
                <p>Tuesday</p>
            }
            @else if (dayName == "wed") {
                <p>Wednesday</p>
            }@else if (dayName == "thu") {
                <p>Thursday</p>
            }@else if (dayName == "fri") {
                <p>Friday</p>
            }@else if (dayName == "sat") {
                <p>Saturday</p>
            }@else if (dayName == "sun") {
                <p>Sunday</p>
            }
            @else {
                <p>Wrong Name</p>
            }
        </div>
    </div>
</div>

<div class="row pt-3 ">
    <div class="col-3 text-center ">
       <button class="btn btn-success " (click)="showHideDiv1(false)">Hide</button>
       <button class="btn btn-danger mx-2" (click)="showHideDiv1(true)">Show</button>

    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="div2Visible" >
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="dayName" maxlength="3">
    </div>
</div>

<div class="row">
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SR No.</th>
                    <th>Student Name</th>
                    <th>Student Mobile</th>
                    <th>Student City</th>
                    <th>Student Status</th>
                </tr>
            </thead>
            <tbody>
                @for (item of studentList ; track $index) {
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.city}}</td>
                        <td style="background-color: {{item.isActivate?'green':'red'}}; ">
                            @if (item.isActivate) {
                                <span>Activate</span>
                            }@else {
                                <span>Deactivate</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>